Repository campus-explorer/aws-credentials-js: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, fixpack

linting
  src/cache.js
Due: xo --fix

install eslint-plugin-prettier
  package.json
Due: fixpack

BREAKING CHANGE: drop support for Node 8
  .travis.yml
  package.json
Due: fixpack

upgrade all packages
  package.json
  yarn.lock
Due: fixpack

2.0.0
  package.json
Due: fixpack

upgrade node packages
  package.json
  yarn.lock
Due: fixpack

update lint-staged configuration to work with v10
  .lintstagedrc
Due: none

2.1.0
  package.json
Due: fixpack

add TypeScript typing
  package.json
  src/cache.js
  src/get-credentials.js
  src/get-mfa-token.js
  src/get-role-credentials.js
  src/get-static-credentials.js
  src/get-ttl.js
  src/index.js
  src/make-credentials-obj.js
  src/profile-config.js
  yarn.lock
Due: xo --fix, fixpack

2.2.0
  package.json
Due: fixpack

forgot to commit typescript declarations
  src/index.d.ts
  tsconfig.json
Due: none

2.2.1
  package.json
Due: fixpack

fix bug with envars
  src/profile-config.js
Due: xo --fix

2.2.2
  package.json
Due: fixpack

get typescript to pass
  src/index.d.ts
Due: none

2.2.3
  package.json
Due: fixpack

get linting to pass with new version of prettier
  src/cache.js
  src/get-mfa-token.js
  src/get-role-credentials.js
  src/get-static-credentials.js
  src/get-ttl.js
  src/index.d.ts
  src/make-credentials-obj.js
  src/profile-config.js
Due: xo --fix

2.3.0
  package.json
Due: fixpack

add dependabot [ci skip]
  .dependabot/config.yml
Due: none

update dependabot to auto-merge in some scenarios [ci skip]
  .dependabot/config.yml
Due: none

dependabot: auto-merge aws-sdk [ci-skip]
  .dependabot/config.yml
Due: none

some typescript fixes
  src/index.d.ts
  src/index.js
Due: xo --fix

dependabot: ignore aws-sdk
  .dependabot/config.yml
Due: none

make aws-sdk a peer dependency
  package.json
Due: fixpack

2.4.0
  package.json
Due: fixpack

upgrade packages:
  package.json
  yarn.lock
Due: fixpack

note that this service has moved
  README.md
Due: none

remove all files
  .dependabot/config.yml
  .gitignore
  .lintstagedrc
  .prettierrc
  .travis.yml
  package.json
  src/cache.js
  src/get-credentials.js
  src/get-mfa-token.js
  src/get-role-credentials.js
  src/get-static-credentials.js
  src/get-ttl.js
  src/index.d.ts
  src/index.js
  src/make-credentials-obj.js
  src/profile-config.js
  tsconfig.json
  yarn.lock
Due: xo --fix, fixpack

Path conditions:
  xo --fix: any of: *.js
  fixpack: any of: package.json
